XPython/TAGS
XPython/doc_strings.py
XPython/FMOD/
XPython/SDK400/
XPython/SDK401/
XPython/Resources/plugins/xp*-*.zip
XPython/Resources/plugins/xp*b.zip
XPython/mac/*.arm
XPython/mac/*.x86
XPython/mac/*.o
XPython/mac/*.xpl
XPython/SDK/
XPython/SDK400.beta/
XPython/docs/source/_static/find_xp.pyc
XPython/docs/source/_static/test.py
XPython/docs/source/_static/xp_dref.py
XPython/Resources/plugins/xppython*-*.zip
XPython/Resources/plugins/xppython*b.zip
XPython/Resources/plugins/xp*b.zip
XPython/Resources/plugins/XPPython3/version.txt
XPython/macros.emacs
XPython/docs/recent_annotations.py
