XPython/TAGS
XPython/doc_strings.py
XPython/FMOD/
XPython/Resources/plugins/xp*-*.zip
XPython/Resources/plugins/xp*b.zip
XPython/mac/*.arm
XPython/mac/*.x86
XPython/mac/*.o
XPython/mac/*.xpl
XPython/docs/source/_static/find_xp.pyc
XPython/docs/source/_static/test.py
XPython/docs/source/_static/xp_dref.py
XPython/Resources/plugins/xppython*-*.zip
XPython/Resources/plugins/xppython*b.zip
XPython/Resources/plugins/xp*b.zip
XPython/Resources/plugins/XPPython3/version.txt
XPython/macros.emacs
XPython/docs/recent_annotations.py
XPython/Resources/plugins/xp.zip
XPython/Resources/plugins/XPPython3/*/python3.12/
XPython/Resources/plugins/XPPython3/*/XPPython3.xpl
XPython/Resources/plugins/XPPython3/win_x64/DLLs/
XPython/Resources/plugins/XPPython3/win_x64/Lib/
XPython/Resources/plugins/XPPython3/win_x64/libs/
XPython/Resources/plugins/XPPython3/win_x64/Scripts/
XPython/Resources/plugins/XPPython3/win_x64/include/
XPython/Resources/plugins/XPPython3/win_x64/py*
XPython/Resources/plugins/XPPython3/win_x64/vcr*
XPython/Resources/plugins/XPPython3/win_x64/NEWS.txt
XPython/Resources/plugins/XPPython3/win_x64/LICENSE.txt
XPython/README_REFCNT.txt
XPython/README_STABLE.txt
XPython/SDK/
XPython/SDK400/
XPython/SDK401/
XPython/SDK400.beta/
XPython/SDK410.b/
XPython/SDK410/
XPython/SDK411/
XPython/SDK420/
XPython/SDK420.sv/
XPython/SDK430.421/
XPython/SDK430.v1/
XPython/SDK430/
.claude/
CLAUDE.md
