@import url("default.css");
:root {
       /* icons used for admonition titles */
    --icon-pencil: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83 3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z"/></svg>');
    --icon-abstract: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 5h16v2H4V5m0 4h16v2H4V9m0 4h16v2H4v-2m0 4h10v2H4v-2z"/></svg>');
    --icon-info: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0012 2z"/></svg>');
    --icon-flame: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.55 11.2c-.23-.3-.5-.56-.76-.82-.65-.6-1.4-1.03-2.03-1.66C13.3 7.26 13 4.85 13.91 3c-.91.23-1.75.75-2.45 1.32-2.54 2.08-3.54 5.75-2.34 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.22.1-.46.04-.64-.12a.83.83 0 01-.15-.17c-1.1-1.43-1.28-3.48-.53-5.12C5.89 10 5 12.3 5.14 14.47c.04.5.1 1 .27 1.5.14.6.4 1.2.72 1.73 1.04 1.73 2.87 2.97 4.84 3.22 2.1.27 4.35-.12 5.96-1.6 1.8-1.66 2.45-4.32 1.5-6.6l-.13-.26c-.2-.46-.47-.87-.8-1.25l.05-.01m-3.1 6.3c-.28.24-.73.5-1.08.6-1.1.4-2.2-.16-2.87-.82 1.19-.28 1.89-1.16 2.09-2.05.17-.8-.14-1.46-.27-2.23-.12-.74-.1-1.37.18-2.06.17.38.37.76.6 1.06.76 1 1.95 1.44 2.2 2.8.04.14.06.28.06.43.03.82-.32 1.72-.92 2.27h.01z"/></svg>');
    --icon-question: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.07 11.25l-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 00-2-2 2 2 0 00-2 2H8a4 4 0 014-4 4 4 0 014 4 3.2 3.2 0 01-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10c0-5.53-4.5-10-10-10z"/></svg>');
    --icon-warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 14h-2v-4h2m0 8h-2v-2h2M1 21h22L12 2 1 21z"/></svg>');
    --icon-failure: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12 6.47 2 12 2m3.59 5L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41 15.59 7z"/></svg>');
    --icon-spark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.5 20l4.86-9.73H13V4l-5 9.73h3.5V20M12 2c2.75 0 5.1 1 7.05 2.95C21 6.9 22 9.25 22 12s-1 5.1-2.95 7.05C17.1 21 14.75 22 12 22s-5.1-1-7.05-2.95C3 17.1 2 14.75 2 12s1-5.1 2.95-7.05C6.9 3 9.25 2 12 2z"/></svg>');

    /* icons used for details summaries */
    --icon-details-open: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42Z"/></svg>');
}

body {
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
}

div.related {
    margin-bottom: 1.2em;
    padding: 0.5em 0;
    border-top: 1px solid #ccc;
    margin-top: 0.5em;
}

div.related a:hover {
    color: #0095C4;
}

div.related:first-child {
    border-top: 0;
    border-bottom: 1px solid #ccc;
}

.inline-search {
    display: inline;
}
form.inline-search input {
    display: inline;
}
form.inline-search input[type="submit"] {
    width: 40px;
}

div.sphinxsidebar {
    background-color: #eeeeee;
    border-radius: 5px;
    line-height: 130%;
    font-size: smaller;
    position: relative;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    margin-top: 1.5em;
}

div.sphinxsidebarwrapper > h3:first-child {
    margin-top: 0.2em;
}

div.sphinxsidebarwrapper > ul > li > ul > li {
    margin-bottom: 0.4em;
}

div.sphinxsidebar a:hover {
    color: #0095C4;
}

form.inline-search input,
div.sphinxsidebar input {
    font-family: 'Lucida Grande',Arial,sans-serif;
    border: 1px solid #999999;
    font-size: smaller;
    border-radius: 3px;
}

div.sphinxsidebar input[type=text] {
    max-width: 150px;
}

div.body {
    padding: 0 0 0 1.2em;
}

div.body p {
    line-height: 140%;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    margin: 0;
    border: 0;
    padding: 0.3em 0;
}

div.body h3 {
    font-size: 120%;
    text-decoration: underline;
}

div.body hr {
    border: 0;
    background-color: #ccc;
    height: 1px;
}

div.body pre {
    border-radius: 3px;
    border: 1px solid #ac9;
    background-color: #eeffcc;
}

div.body div.admonition, div.body div.impl-detail {
    border-radius: 3px;
}


div.body div.impl-detail > p {
    margin: 0;
}

div.body a {
    color: #0072aa;
}

div.body a:visited {
    color: #6363bb;
}

div.body a:hover {
    color: #00B0E4;
}

tt, code, pre {
    font-family: monospace;
    font-size: 96.5%;
}

div.body tt, div.body code {
    border-radius: 3px;
}

div.body tt.descname, div.body code.descname {
    font-size: 120%;
}

div.body tt.xref, div.body a tt, div.body code.xref, div.body a code {
    font-weight: normal;
}

table.docutils {
    border: 1px solid #ddd;
    min-width: 20%;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table.docutils p {
    hyphens: none;
    margin-bottom: .2em;
    margin-block-start: 0;
}

table.docutils td, table.docutils th {
    border: 1px solid #ddd !important;
    border-radius: 3px;
    vertical-align: top;
}

table p, table li {
    text-align: left !important;
}

table.docutils th {
    background-color: #eee;
    padding: 0.3em 0.5em;
}

table.docutils td {
    background-color: white;
    padding: 0.3em 0.5em;
}

table.footnote, table.footnote td {
    border: 0 !important;
}

div.footer {
    line-height: 150%;
    margin-top: -2em;
    text-align: right;
    width: auto;
    margin-right: 10px;
}

div.footer a:hover {
    color: #0095C4;
}

.refcount {
    color: #060;
}

.stableabi {
    color: #229;
}

.highlight {
    background: none !important;
}

dl > dt span ~ em {
    font-family: monospace, sans-serif;
}

#sidebarbutton {
    background-color: #ccc;
    position:absolute;
    top: 0;
    right: 0;
}
#sidebarbutton:hover {
    background-color: #999;
}
div.sphinxsidebar p.topless {
    max-width: 185px;
}

div.sphinxsidebarwrapper>ul>li {
    margin-bottom: .25em;
}
div.sphinxsidebarwrapper>ul>li>ul>li {
    margin-bottom: .15em;
}
.sphinxsidebarwrapper>ul {
    counter-reset: list-item;
    list-style-type: none;
}
.sphinxsidebarwrapper>ul>li>ul {
    list-style-type: none;
}
.sphinxsidebarwrapper>ul li::before {
    content: counters(list-item,'.') ': ';
}
.toctree-l1.current a.current {
    font-weight: bold;
    text-decoration: underline;
}
.sphinxsidebarwrapper>ul>li>ul>li>ul>li::before,
.sphinxsidebarwrapper>ul>li>ul>li>ul>li>ul>li::before {
    content: "";
}

div.footer {
    margin-right: 100px; /* so 'versions' popup doesn't block info */
}


div.admonition {
    font-size: .9em;
    margin: 1em 0 1em 0;
    border: 1px solid #86989b;
    border-radius: 3px;
    background-color: #f7f7f7;
    padding: 1em;
}

div.admonition>p.admonition-title {
    position: relative;
    font-weight: 700;
    margin: -.9rem -.9rem 0.8rem -.9rem;
    padding: 0.3rem 1rem 0.3rem 2rem;
    border-radius: 3px 3px 0 0;
    display: block;
    background-color: rgb(230, 230, 230);
}

div.admonition>p.admonition-title::after {
    content: "";
}
p.admonition-title::before {
    content: "";
    height: 1rem;
    left: .5rem;
    top: .5rem;
    position: absolute;
    width: 1rem;
    background-color: #5f5f5f;
}



caution

div.admonition.note {
    border-color: rgb(134, 152, 155);
}

div.admonition.note>p.admonition-title {
    background-color: rgb(208,223,251);
}

div.admonition.note>p.admonition-title::before {
    background-color: rgb(20,94,235);
    mask-image: var(--icon-pencil);
}


div.admonition.caution {
    border-color: rgb(222, 123, 33);
}
div.admonition.caution>p.admonition-title {
    background-color: rgb(248,229,211);
}
div.admonition.caution>p.admonition-title::before {
    background-color: rgb(222, 123, 33);
    mask-image: var(--icon-spark);
}

div.admonition.important {
    border-color: rgb(222, 123, 33);
}
div.admonition.important>p.admonition-title {
    background-color: rgb(248,229,211);
}
div.admonition.important>p.admonition-title::before {
    background-color: rgb(222, 123, 33);
    mask-image: var(--icon-flame);
}

div.admonition.warning {
    border-color: rgb(222, 123, 33);
}
div.admonition.warning>p.admonition-title {
    background-color: rgb(248,229,211);
}
div.admonition.warning>p.admonition-title::before {
    background-color: rgb(222, 123, 33);
    mask-image: var(--icon-warning);
}


div.body div.seealso {
    border: 1px solid #dddd66;
}

